input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.701);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: rgba(37, 99, 122, 0.701);
  color: azure;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #416a80;
}

.submit {
  margin: auto;
  width: 25%;
  border-radius: 5px;
  background-color: rgb(6, 19, 26);
  padding: 20px;
  color: azure;
}
